:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  padding-top: 60px;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(135deg, #b71918, #ff7961);

  @media (max-width: 768px) {
    padding-top: 50px;
  }

  @media (max-width: 480px) {
    padding-top: 40px;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  overflow: hidden;
  padding: 0;
  backdrop-filter: blur(3px);
}

.profile-container {
  background-color: white;
  border-radius: 15px;
  padding: 40px 30px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: left;
  max-width: 1000px; // Aumenta la larghezza massima
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
  }

  @media (max-width: 768px) {
    padding: 30px 20px;
    max-width: 90%;
  }

  @media (max-width: 480px) {
    padding: 20px 15px;
    max-width: 95%;
  }
}

.header h1 {
  font-size: 2.5em; // Aumenta la dimensione del font
  text-align: center;
  color: #333;
  margin-bottom: 30px;

  @media (max-width: 768px) {
    font-size: 2em;
  }

  @media (max-width: 480px) {
    font-size: 1.8em;
  }

  i {
    color: #4CAF50;
    margin-right: 10px;
  }
}

.profile-container .field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; // Aumenta il margine inferiore
  padding-bottom: 15px; // Aumenta il padding inferiore
  border-bottom: 1px solid #ddd;
  flex-wrap: wrap;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f9f9f9;
  }

  @media (max-width: 768px) {
    margin-bottom: 18px;
    padding-bottom: 12px;
  }

  @media (max-width: 480px) {
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
}

.profile-container .field:last-child {
  border-bottom: none;
}

.profile-container .label {
  font-size: 1.5em; // Aumenta la dimensione del font
  font-weight: bold;
  white-space: nowrap;
  margin-right: 30px;
  display: flex;
  align-items: center;

  i {
    margin-right: 8px;
    color: #4CAF50;
  }

  @media (max-width: 768px) {
    font-size: 1.3em;
    margin-right: 20px;
  }

  @media (max-width: 480px) {
    font-size: 1.1em;
    margin-right: 10px;
  }
}

.profile-container .value {
  color: #777;
  font-size: 1.2em; // Aumenta la dimensione del font
  word-break: break-word;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 1em;
  }

  @media (max-width: 480px) {
    font-size: 0.9em;
  }
}
