<!-- admin-screen.component.html -->
<body>
  <div class="admin-grid">
    <div class="admin-container users-container">
      <h2 class="sticky-title">Utenti</h2>
      <div *ngIf="usersSuccessMessage" class="success-message">{{ usersSuccessMessage }}</div>
      <div *ngIf="usersErrorMessage" class="error-message">{{ usersErrorMessage }}</div>
      <div *ngIf="users.length === 0" class="no-data-message">Nessun utente registrato</div>
      <div *ngFor="let user of users" class="user-item">
        <span>{{ user.username }}</span>
        <button class="info-button" mat-icon-button (click)="openUserDetail(user.id)">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </div>

    <div class="admin-container documents-container">
      <h2 class="sticky-title">Documenti</h2>
      <div *ngIf="documentsSuccessMessage" class="success-message">{{ documentsSuccessMessage }}</div>
      <div *ngIf="documentsErrorMessage" class="error-message">{{ documentsErrorMessage }}</div>
      <div *ngIf="documents.length === 0" class="no-data-message">Nessun documento caricato</div>
      <div *ngFor="let document of documents" class="document-item">
        <span class="document-title">{{ document.title }}</span>
        <button class="bottone_cestino" mat-icon-button (click)="confirmDelete(document.name)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>  

    <div class="admin-container add_schedule-container">
      <h2 class="sticky-title">Aggiungi Orario</h2>
      <div *ngIf="scheduleSuccessMessage" class="success-message">{{ scheduleSuccessMessage }}</div>
      <div *ngIf="scheduleErrorMessage" class="error-message">{{ scheduleErrorMessage }}</div>
      <form (ngSubmit)="onSubmit()">
        <div class="schedule-form">
          <mat-form-field>
            <mat-label>Anno</mat-label>
            <mat-select [(ngModel)]="selectedYear" name="selectedYear" required>
              <mat-option value="1° anno">1° anno</mat-option>
              <mat-option value="2° anno">2° anno</mat-option>
              <mat-option value="3° anno">3° anno</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Semestre</mat-label>
            <mat-select [(ngModel)]="selectedSemester" name="selectedSemester" required>
              <mat-option value="1° semestre">1° semestre</mat-option>
              <mat-option value="2° semestre">2° semestre</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>iCal URL</mat-label>
          <input matInput [(ngModel)]="icalUrl" name="icalUrl" required />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Carica iCal URL</button>
      </form>
    </div>
       

    <div class="admin-container add_documents-container">
      <h2 class="sticky-title">Aggiungi Documenti</h2>
      <div *ngIf="addDocumentsSuccessMessage" class="success-message">{{ addDocumentsSuccessMessage }}</div>
      <div *ngIf="addDocumentsErrorMessage" class="error-message">{{ addDocumentsErrorMessage }}</div>
      <form>
        <mat-form-field>
          <mat-label>Documento URL</mat-label>
          <input matInput [(ngModel)]="documentLink" name="documentLink" required />
        </mat-form-field>
        <button mat-raised-button color="primary" type="button" (click)="uploadDocumentLink()">Carica URL</button>
      </form>
      
      <hr class="divider">

      <form>
        <input class="scegliFile" type="file" (change)="onFileSelected($event)" />
        <button mat-raised-button color="primary" type="button" (click)="uploadDocument()">Carica File</button>
      </form>
    </div>
  </div>

  <ng-template #confirmDeleteDialog let-data>
    <div class="confirm-delete-dialog">
      <h2>Conferma Eliminazione</h2>
      <p>Sei sicuro di voler eliminare il documento "<span class="document-name">{{ data.name }}</span>"?</p>
      <div class="dialog-actions">
        <button mat-raised-button color="warn" (click)="deleteDocument(data.name)">Si</button>
        <button mat-raised-button (click)="dialogRef.close()">No</button>
      </div>
    </div>
  </ng-template>
</body>