<div class="login-container">
  <div class="header">
    <h1>Login</h1>
    <p>Fai il Login per poter usare il chatbot!</p>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username</label>
      <input id="username" formControlName="username" type="text" placeholder="es. mario.rossi" required>
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
        Inserisci il tuo username
      </div>
    </div>
    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" placeholder="La tua password" required>
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error">
        Inserisci la tua password
      </div>
    </div>
    <div>
      <button class="login-button" type="submit" [disabled]="loading">
        <span>🔑 Login</span>
      </button>
    </div>
    <div *ngIf="error" class="error">
      {{ error }}
    </div>
  </form>
</div>
