<!-- header.component.html -->
<div class="header-outer-container">
  <div class="header-container" routerLink="/home">
    <img src="../../assets/logo.png" alt="Logo" class="logo" />
  </div>
  <div class="icons-container">
    <button mat-icon-button (click)="onChatbotClick()">
      <mat-icon>chat</mat-icon>
    </button>
    <div class="dropdown">
      <button class="dropdown-toggle">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="dropdown-menu">
        <ng-container *ngIf="!isLoggedIn()">
          <a routerLink="/login">
            <mat-icon>login</mat-icon>
            Login
          </a>
          <a routerLink="/register">
            <mat-icon>how_to_reg</mat-icon>
            Registrati
          </a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn() && !isAdmin()">
          <a routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            Profilo
          </a>
          <a (click)="openLogoutDialog()">
            <mat-icon>logout</mat-icon>
            Logout
          </a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn() && isAdmin()">
          <a routerLink="/admin">
            <mat-icon>admin_panel_settings</mat-icon>
            Admin
          </a>
          <a routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            Profilo
          </a>
          <a (click)="openLogoutDialog()">
            <mat-icon>logout</mat-icon>
            Logout
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<ng-template #logoutDialog>
  <div class="logout-dialog">
    <h2>Conferma Logout</h2>
    <p>Sei sicuro di voler uscire?</p>
    <div class="dialog-actions">
      <button mat-raised-button color="warn" (click)="closeLogoutDialog(true)">Si</button>
      <button mat-raised-button (click)="closeLogoutDialog(false)">No</button>
    </div>
  </div>
</ng-template>


<ng-template #loginPromptDialog>
  <div class="login-prompt-dialog">
    <h2>Registrazione necessaria</h2>
    <p>Per utilizzare il chatbot, è necessario registrarsi o effettuare il login.</p>
    <div class="mat-dialog-actions">
      <button mat-raised-button color="primary" class="login-button" (click)="goToLogin()" cdkFocusInitial>Vai al login</button>
      <button mat-raised-button class="close-button" (click)="closeLoginPromptDialog()">Chiudi</button>
    </div>
  </div>
</ng-template>
