.header-outer-container {
  background-color: #b71918;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000; // Set a high z-index for the header
  box-sizing: border-box;
  height: 80px;
  border-bottom: 2px solid #b71918;
  transition: background-color 0.3s ease, height 0.3s ease;

  @media (max-width: 768px) {
    padding: 5px 10px;
  }

  @media (max-width: 480px) {
    padding: 5px 5px;
    height: auto;
    flex-direction: row;
  }

  &:hover {
    background-color: #a31717;
    height: 90px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  .logo {
    height: 70px;
    margin-right: 10px;
    border-radius: 10px;

    @media (max-width: 480px) {
      height: 40px;
      margin-right: 5px;
    }
  }
}

.icons-container {
  display: flex;
  align-items: center;

  .chat-button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0;
    margin-right: 20px; /* Increased margin */
    font-size: 2.5rem;  /* Increase icon size */
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }

    @media (max-width: 480px) {
      margin-left: 10px;
      margin-right: 10px; /* Ensure spacing on small screens */
    }
  }

  .dropdown {
    position: relative;

    .dropdown-toggle {
      background: none;
      border: none;
      color: #ffffff;
      cursor: pointer;
      padding: 0;
      margin-right: 20px; /* Increased margin */
      font-size: 2.5rem;  /* Increase icon size */
      transition: transform 0.3s ease;

      &:hover {
        transform: rotate(90deg);
      }

      @media (max-width: 480px) {
        margin-right: 10px; /* Ensure spacing on small screens */
      }
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #ffffff;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 3000; // Ensure the dropdown menu has a higher z-index
      min-width: 300px;  /* Increase width */
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
      transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

      @media (max-width: 480px) {
        min-width: 160px;
      }

      a {
        display: flex;
        align-items: center;
        padding: 20px;  /* Increase padding */
        color: #333;
        font-weight: bold;
        text-decoration: none;
        transition: background 0.3s, color 0.3s;

        fa-icon {
          font-size: 2rem;
          margin-right: 15px;
        }

        &:hover {
          background-color: #f1f1f1;
          color: #b71918;  /* Change color on hover */
        }
      }
    }

    &:hover .dropdown-menu {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.login-prompt-dialog,
.logout-dialog {
  background-color: #ffffff;
  padding: 40px; // Aumentato il padding
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 500px; // Aumentata la larghezza massima
  margin: auto;

  @media (max-width: 768px) {
    padding: 30px; // Aumentato il padding per schermi medi
    max-width: 95%;
  }

  @media (max-width: 480px) {
    padding: 25px; // Aumentato il padding per schermi piccoli
    max-width: 100%;
  }
}

.login-prompt-dialog h2,
.logout-dialog h2 {
  font-size: 28px; // Aumentata la dimensione del carattere
  margin-top: 0;
  margin-bottom: 25px; // Aumentato il margine inferiore
  text-align: center;
  color: #333;

  @media (max-width: 768px) {
    font-size: 26px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.login-prompt-dialog p,
.logout-dialog p {
  font-size: 18px; // Aumentata la dimensione del carattere
  margin-bottom: 25px; // Aumentato il margine inferiore
  text-align: center;
  color: #666;

  @media (max-width: 768px) {
    font-size: 17px;
  }

  @media (max-width: 480px) {
    font-size: 16px;
  }
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; // Aumentato il margine superiore

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.dialog-actions button {
  flex: 1;
  margin: 0 15px; // Aumentato il margine laterale
  font-size: 16px; // Aumentata la dimensione del carattere

  @media (max-width: 480px) {
    margin: 10px 0; // Aumentato il margine per schermi piccoli
    font-size: 15px;
  }
}
