<div class="header-outer-container">
  <div class="header-container" routerLink="/home">
    <img src="../../assets/logo.png" alt="Logo" class="logo" />
  </div>
  <div class="icons-container">
    <button mat-icon-button (click)="onChatbotClick()">
      <fa-icon [icon]="faCommentDots"></fa-icon>
    </button>
    <div class="dropdown">
      <button class="dropdown-toggle">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <div class="dropdown-menu">
        <ng-container *ngIf="!isLoggedIn()">
          <a routerLink="/login">
            <fa-icon [icon]="faSignInAlt"></fa-icon>
            Login
          </a>
          <a routerLink="/register">
            <fa-icon [icon]="faUserPlus"></fa-icon>
            Registrati
          </a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn() && !isAdmin()">
          <a routerLink="/profile">
            <fa-icon [icon]="faUser"></fa-icon>
            Profilo
          </a>
          <a (click)="openLogoutDialog()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
            Logout
          </a>
        </ng-container>
        <ng-container *ngIf="isLoggedIn() && isAdmin()">
          <a routerLink="/admin">
            <fa-icon [icon]="faUserShield"></fa-icon>
            Admin
          </a>
          <a routerLink="/profile">
            <fa-icon [icon]="faUser"></fa-icon>
            Profilo
          </a>
          <a (click)="openLogoutDialog()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
            Logout
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<ng-template #logoutDialog>
  <div class="logout-dialog">
    <h2>Conferma Logout</h2>
    <p>Sei sicuro di voler uscire?</p>
    <div class="dialog-actions">
      <button mat-raised-button color="warn" (click)="closeLogoutDialog(true)">Si</button>
      <button mat-raised-button (click)="closeLogoutDialog(false)">No</button>
    </div>
  </div>
</ng-template>

<ng-template #loginPromptDialog>
  <div class="login-prompt-dialog">
    <h2>Registrazione necessaria</h2>
    <p>Per utilizzare il chatbot, è necessario registrarsi o effettuare il login.</p>
    <div class="dialog-actions">
      <button mat-button class="login-button" color="primary" (click)="goToLogin()" cdkFocusInitial>Vai al login</button>
      <button mat-button class="close-button" (click)="closeLoginPromptDialog()">Chiudi</button>
    </div>
  </div>
</ng-template>
