<!-- user-detail-dialog.component.html -->
<h1 mat-dialog-title>Info Profilo</h1>
<div mat-dialog-content>
  <p><strong>Nome:</strong> {{data.first_name}}</p>
  <p><strong>Cognome:</strong> {{data.last_name}}</p>
  <p><strong>Email:</strong> {{data.email}}</p>
  <p><strong>Username:</strong> {{data.username}}</p>
  <p><strong>Ruolo:</strong> {{data.role}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Chiudi</button>
  <button mat-button color="warn" (click)="deleteUser()">Elimina Utente</button>
</div>
