.mat-dialog-content {
    font-size: 16px;
  }
  
  .mat-dialog-actions {
    justify-content: flex-end;
  }
  
  h1#mat-mdc-dialog-title-0 {
    text-align: center;
    color: #333;
    font-weight: bold;
  }