:host {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  padding-top: 60px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #b71918, #ff7961);
  background-size: cover;
  background-position: center;

  @media (max-width: 768px) {
    padding-top: 50px;
  }

  @media (max-width: 480px) {
    padding-top: 40px;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  backdrop-filter: blur(3px);

  @media (max-width: 768px) {
    height: calc(100vh - 50px);
  }

  @media (max-width: 480px) {
    height: calc(100vh - 40px);
  }
}

.register-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 30px 50px;  // Aumentato il padding laterale
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 700px;  // Aumentato il max-width
  box-sizing: border-box;
  text-align: center;
  position: relative;

  @media (max-width: 768px) {
    padding: 40px 60px;  // Riduzione del padding per schermi medi
    max-width: 90%;
  }

  @media (max-width: 480px) {
    padding: 30px 40px;  // Riduzione del padding per schermi piccoli
    max-width: 95%;
  }

  h1 {
    font-size: 3em;
    color: #333;
    margin-bottom: 30px;

    @media (max-width: 768px) {
      font-size: 2.5em;
    }

    @media (max-width: 480px) {
      font-size: 2.2em;
    }
  }

  p {
    margin-top: 0;
    color: #666;
    font-size: 1.2em;
    margin-bottom: 30px;

    @media (max-width: 480px) {
      font-size: 1em;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      gap: 15px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      div {
        flex: 1;
        margin-bottom: 20px;
        position: relative;

        @media (max-width: 768px) {
          margin-bottom: 15px;
        }

        @media (max-width: 480px) {
          margin-bottom: 12px;
        }

        label {
          font-size: 1.2em;
          display: block;
          margin-bottom: 0.7em;
          font-weight: bold;
          color: #333;

          @media (max-width: 768px) {
            font-size: 1em;
          }

          @media (max-width: 480px) {
            font-size: 0.9em;
          }
        }

        input {
          display: block;
          width: 100%;
          padding: 15px;
          border: 1px solid #ccc;
          border-radius: 10px;
          box-sizing: border-box;
          font-size: 1.2em;
          transition: border-color 0.3s;

          &:focus {
            border-color: #ff5f6d;
            outline: none;
          }

          @media (max-width: 768px) {
            padding: 12px;
          }

          @media (max-width: 480px) {
            padding: 10px;
          }
        }

        .error {
          color: #d9534f;
          font-size: 0.9em;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          text-align: left;
          margin-top: 5px;

          @media (max-width: 480px) {
            font-size: 0.8em;
          }
        }
      }
    }

    button {
      display: block;
      margin-top: 30px;
      width: 100%;
      padding: 18px;
      border: none;
      border-radius: 12px;
      background-color: #ff5f6d;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #e14a4a;
      }

      @media (max-width: 768px) {
        padding: 15px;
        font-size: 16px;
      }

      @media (max-width: 480px) {
        padding: 12px;
        font-size: 14px;
      }
    }
  }
}

.success-snackbar {
  background-color: #4caf50;
  color: white;
}

.error-snackbar {
  background-color: #f44336;
  color: white;
}

