:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto; // Centra il contenuto orizzontalmente
  padding-top: 60px; // Padding superiore per fare spazio all'header
  width: 100%; // Assicurati che il contenuto occupi tutta la larghezza disponibile
  box-sizing: border-box; // Include il padding nella larghezza dell'elemento

  @media (max-width: 768px) {
    padding-top: 50px; // Riduci il padding superiore sui dispositivi più piccoli
  }

  @media (max-width: 480px) {
    padding-top: 40px; // Riduci ulteriormente il padding superiore sui dispositivi più piccoli
  }
}

body {
  margin: 0; // Rimuovi il margine per assicurare che il contenuto sia allineato correttamente
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); // Altezza calcolata per tenere conto dell'header fisso
  overflow: hidden;
  padding: 0; // Rimuovi il padding per evitare spazi vuoti indesiderati
  backdrop-filter: blur(3px);
  background-color: lightgray;

  @media (max-width: 768px) {
    height: calc(100vh - 50px); // Altezza calcolata per tenere conto dell'header fisso sui dispositivi più piccoli
  }

  @media (max-width: 480px) {
    height: calc(100vh - 40px); // Altezza calcolata per tenere conto dell'header fisso sui dispositivi più piccoli
  }
}

.main-container {
  background-color: white;
  border-radius: 10px;
  padding: 30px 20px; // Riduci il padding per migliorare la visualizzazione sui dispositivi mobili
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%; // Assicurati che il contenitore occupi tutta la larghezza disponibile
  max-width: 950px; // Limita la larghezza massima per una migliore visualizzazione su schermi più grandi
  box-sizing: border-box; // Include il padding nella larghezza dell'elemento

  @media (max-width: 768px) {
    padding: 20px 10px; // Riduci il padding sui dispositivi più piccoli
    max-width: 90%;
  }

  @media (max-width: 480px) {
    padding: 15px 5px; // Riduci ulteriormente il padding sui dispositivi più piccoli
    max-width: 95%;
  }

  button {
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #3f51b5;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease; // Riduci il tempo di transizione

    @media (max-width: 768px) {
      padding: 8px; // Riduci il padding sui dispositivi più piccoli
      font-size: 14px; // Riduci la dimensione del font
    }

    @media (max-width: 480px) {
      padding: 6px; // Riduci ulteriormente il padding sui dispositivi più piccoli
      font-size: 13px; // Riduci ulteriormente la dimensione del font
    }
  }

  button:hover {
    background-color: #5784b4; 
  }
}

.welcome-message h1 {
  font-size: 2em;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.8em; // Riduci la dimensione del font sui dispositivi più piccoli
  }

  @media (max-width: 480px) {
    font-size: 1.5em; // Riduci ulteriormente la dimensione del font sui dispositivi più piccoli
  }
}


.login-prompt-dialog {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;

  @media (max-width: 768px) {
    padding: 15px;
    max-width: 90%;
  }

  @media (max-width: 480px) {
    padding: 10px;
    max-width: 95%;
  }
}

.login-prompt-dialog h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;

  
  @media (max-width: 768px) {
    font-size: 18px;
  }

  @media (max-width: 480px) {
    font-size: 16px;
  }
}

.login-prompt-dialog p {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    font-size: 13px;
  }
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.dialog-actions button {
  flex: 1;
  margin: 0 10px;
  font-size: 14px;

  @media (max-width: 480px) {
    margin: 10px 0;
    font-size: 13px;
  }
}

/* Media Queries per la responsività */
@media (max-width: 768px) {
  .main-container {
    padding: 20px 10px; // Riduci il padding sui dispositivi più piccoli
  }

  button {
    padding: 8px; // Riduci il padding
    font-size: 14px; // Riduci la dimensione del font
  }
}
